@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  cursor: none;
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
span,
p {
  pointer-events: none;
  user-select: none;
}

button,
a {
  cursor: none;
}

body {
  background: black;
  color: var(--foreground);
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
