@import "tailwindcss";

:root {

  cursor: none;
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}
span,
p {
  pointer-events: none;
  user-select: none;
}

button,
a {
  cursor: none;
}

body {
  background: black;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
  font-weight: inherit;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.5em;
}

h6 {
  font-size: 0.3em;
}
